valhalla_tiles
data/retail
data/raw_data/
data/routing_results
data/green_blue/*.parquet
/admin_data
/venv
/*.yml
/duplicateways.txt
/file_hashes.txt
/*.pbf
/*.tar
/valhalla.json
/valhalla.json.backup
/valhalla_cluster
.DS_Store
__pycache__
__init__.py
